html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0;   vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

/* index */
img{
    display: block;
    margin: 0px auto;
    width: 400px;

}
a{
    text-shadow: 1px 1px #0d0d0e;
    color:#000;
    font-size: 1.3em;
    font-weight: bold;
}
a:hover
{
    text-shadow: 1px 2px 2px #1C6EA4;;
}
.lead{
    font-size: 1.3em;
    font-weight: bold;
    text-align:justify;
}
.jumbotron{
    background-color: rgba(20,244,137,0.28);
    /* margin-top: 50px; */
  
}
section{
    margin-top:20px;
}
#frtescola{
    border-radius: 10px;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
    width: 500px;
}
h2{
    text-align:center;
    
}
/* socioambiental */
article h3{
    text-align: center;
    padding-bottom: 10px;

}
.socioambiental{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:5px;
    gap: 10px;
}
#cart1{
    width: 200px;
}
#topico_3 img{
        width:400px;
}
video{
    width:400px;
}

/* cartilha */
.jumbotron h3{
    text-align: center;
    padding-bottom: 10px;
}
.cartilha{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 5px;
    padding:8px;
    
}

.cartilha img{
    border:1px solid #000;
    border-radius:10px;
}
/* video  */
.video{
    display:flex;
    justify-content: center;
    max-width: 102%; 
  
}


